 body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: blue;
     font: 12pt "Tahoma";
 }

 * {
     box-sizing: border-box;
     -moz-box-sizing: border-box;
 }

 .page {
     width: 210mm;
     min-height: 297mm;
     padding: 20mm;
     margin: 10mm auto;
     border: 1px #D3D3D3 solid;
     background: grey;
 }

 .subpage {
     background: aqua;
 }

 @page {
     size: A4;
     margin: 0;
 }

 @media print {

     html,
     body {
         width: 210mm;
         height: 297mm;
     }

     .page {
         margin: 0;
         border: initial;
         border-radius: initial;
         width: initial;
         min-height: initial;
         background: initial;
         page-break-after: always;
     }
 }